@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@view-transition {
  navigation: auto;
}

@layer base {
  html {
    font-family: "Playfair Display", serif;
    font-weight: 400; /* base weight */
    font-style: normal;
    font-optical-sizing: auto; /* lets the browser use opsz */
  }

  a:hover {
    @apply cursor-pointer;
  }
}
