---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout is404>
    <div class="mt-30 text-center text-white">
        <div class="text-8xl">404</div>
        <div class="mt-10 text-stone-400 text-2xl">Not Found</div>
    </div>
</MainLayout>
