---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="prose flex justify-center items-center h-80">
    <p class="dark:text-white">Coming Soon</p>
  </div>
</MainLayout>
