---
import MainLayout from "../layouts/MainLayout.astro";

import { SEO } from "astro-seo";
---

<MainLayout>
  <SEO title={"Blog"} slot="meta" />

  <div class="prose flex justify-center items-center h-80">
    <p class="dark:text-white">Coming Soon</p>
  </div>
</MainLayout>
