---
import { Warp } from "@paper-design/shaders-react";
import Layout from "./Layout.astro";
---

<Layout>
  <div class="w-full min-h-dvh flex items-center bg-stone-800">
    <div class="w-1/2 justify-start h-dvh z-10 hidden md:flex">
      <Warp
        colors={["#262626", "#52585b", "#75caff", "#ffc7c7"]}
        distortion={0}
        swirl={1}
        swirlIterations={12.2}
        proportion={0.5}
        shape="checks"
        speed={0.2}
        style={{ width: "100%", height: "100%" }}
        client:idle
      />
    </div>
    <div class="w-full h-full">
      <slot />
    </div>
  </div>
</Layout>
