---
import ThemeToggle from "../components/ThemeToggle.astro";
import WarpButton from "../components/WarpButton.astro";
import Layout from "./Layout.astro";

const pathname = Astro.url.pathname;

const { is404 } = Astro.props;
---

<Layout>
  <nav
    class="w-full fixed top-0 left-0 z-50 bg-neutral text-black dark:text-white"
  >
    <div
      class="max-w-5xl mx-auto px-6 py-4 flex sm:justify-center gap-1 md:gap-8"
    >
      <!-- <a href="/blog">
        <WarpButton
          warpProps={{ offsetX: -2 }}
          showWarp={path === "/blog"}
          client:idle>Blog</WarpButton
        >
      </a> -->
      <a href="/resume">
        <WarpButton
          warpProps={{ offsetX: -1 }}
          buttonProps={{ className: "text-xs md:text-base" }}
          showWarp={pathname === "/resume"}>Resume</WarpButton
        >
      </a>
      <a href="/">
        <WarpButton
          warpProps={{ offsetX: 0 }}
          buttonProps={{
            className: "text-sm md:text-lg",
          }}
          showWarp={pathname === "/" || is404}>Yannik Hahn</WarpButton
        >
      </a>
      <a href="/projects">
        <WarpButton
          warpProps={{ offsetX: 1 }}
          buttonProps={{ className: "text-xs md:text-base" }}
          showWarp={pathname === "/projects"}>Projects</WarpButton
        >
      </a>
      <!-- <a href="/contact">
        <WarpButton
          warpProps={{ offsetX: 2 }}
          buttonProps={{ className: "hover:text-white" }}
          showWarp={path === "/contact"}
          client:idle>Contact</WarpButton
        >
      </a> -->
    </div>
    <div class="absolute right-6 top-1/2 -translate-y-1/2">
      <ThemeToggle />
    </div>
  </nav>
</Layout>

<main class="relative pt-20">
  <slot />
</main>
